@import '../../breakpoints';

.search-page {
	.search-container {
		max-width: 1400px;
		margin: 0 auto;
		padding: 0 1rem;
		margin-top: 125px;
		.search-title {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			.search-icon {
				font-size: 2rem;
				margin-right: 10px;
			}
		}
	}
}
