@import '../../breakpoints';

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	color: #757575;

	.footer-item {
		font-weight: 400;
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
		a:hover {
			border-bottom: 1px solid currentColor;
		}
	}
	.footer-developed-by {
		font-size: 0.9rem;
	}
	@include sm {
		grid-template-columns: 1fr;
	}

	@include md {
		grid-template-columns: 1fr 1fr;
	}
}
